@import url("https://fonts.googleapis.com/css?family=Oswald|Lato:300");

* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* credit : code based on Love Running project from code institute https://courses.codeinstitute.net/courses/course-v1:CodeInstitute+CF101+2017_T1/courseware/1f0ccaac7a3e43d895c1beae5363f46c/8b3e9adaef764e1d962a85668c799cdd/?child=first */


body {
  font-family: Lato;
  color: #f1f1f1;
  background-image: url("../img/christmas-2942305_1280.jpg");  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  font-size: 20px;
  margin: 0;
}

h2 {
  font-family: Oswald;
  padding-top: 100px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #555555;
}

.center {
  text-align: center;
  color: #f1f1f1;
}

#logo {
  float: left;
  font-size: 280%;
}

#menu {
  font-size: 100%;
  list-style-type: none;
  letter-spacing: 4px;
}

#logo,
#menu {
  line-height: 75px;
  color: #f1f1f1;
}

#menu li {
  float: right;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #777777;
}

#h1 {
  height: auto;
  align-content: center;
  bottom: 400px;
}
h2 {
  height: auto;
  align-content: center;
  bottom: auto;
  margin-bottom: 30px;
}

#center-about {
  height: auto;
  margin-bottom: auto;
}

footer {
  height: 150px;
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}
.social-networks i {
  font-size: 180%;
  margin: 1%;
  padding: 5%;
  color: #777777;
}

#photo {
  clear: both;
  line-height: 0;
  column-count: 2;
  margin-bottom: 20px;
  column-gap: 1;
}

#photo img {
  width: 100%;
  margin-bottom: 20px;
}

.p {
  position: relative;
  width: 350px;
  font-size: 50px;
  margin-bottom: 20px;
  padding-top: 100px;
  padding-right: 250px;
}

.centered {
  font-family: Oswald;
  left: 0;
  line-height: 50px;
  margin-top: 30px;
  position: absolute;
  text-align: center;
  top: 20%;
  bottom: 50%;
  width: 100%;
  color: #555555;
}

@media screen and (max-width: 1393px) {
  #photo {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
  }

  #photo {
    padding: 30px 0;
    margin-top: 0;
  }

  hr {
    display: none;
  }
}

/* credit: code taken from https://www.w3schools.com/howto/howto_css_signup_form.asp  to meet project needs */
* {
  box-sizing: border-box;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

/* credit: code taken from https://www.w3schools.com/howto/howto_css_contact_section.asp to meet project needs */
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
